<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.starbridges">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CheckInOutActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckInOutDetailActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.CheckInOutActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.StartEndDayActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartEndDayDetailActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.StartEndDayActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.HistoriesActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HistoryFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryFilterActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CorrectionActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CorrectionDetailActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation"
            android:parentActivityName=".activity.CorrectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DraftCorrectionActivity" />
        <activity
            android:name=".activity.DraftDetailCorrectionActivity"
            android:configChanges="orientation"
            android:theme="@style/TranslucentTheme"
            android:parentActivityName=".activity.DraftCorrectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DraftCorrectionListActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.CorrectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OvertimeDetailActivity"
            android:configChanges="orientation"
            android:theme="@style/TranslucentTheme"
            android:parentActivityName=".activity.OvertimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DraftOvertimeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OvertimeActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListDraftOvertimeActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.OvertimeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ListDraftMedicalActivity"></activity>
        <activity android:name=".activity.LeaveRequestActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.LeaveRequestDetailActivity"
            android:configChanges="orientation"
            android:theme="@style/TranslucentTheme"
            android:parentActivityName=".activity.LeaveRequestActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.ListDraftLeaveRequestActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.LeaveRequestActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.LeaveCancelationActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.LeaveCancelationDetailActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="orientation"
            android:parentActivityName=".activity.LeaveCancelationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.ListDraftLeaveCancelationActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.LeaveCancelationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.MedicalClaimActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.MedicalClaimDetailActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.MedicalClaimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            />
        <activity android:name=".activity.ReimburseActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.ListDraftReimburseActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.ReimburseActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.ReimburseDetailActivity"
            android:configChanges="orientation"
            android:theme="@style/TranslucentTheme"
            android:parentActivityName=".activity.ReimburseActivity"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".activity.ShiftExchangeActivity"
            android:parentActivityName=".activity.HomeActivity"/>
        <activity android:name=".activity.ShiftExchangeDetailActivity"
            android:parentActivityName=".activity.ShiftExchangeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ListDraftShiftExchangeActivity"
            android:parentActivityName=".activity.ShiftExchangeActivity"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name=".reminder.alarmManager.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.starbridges.ACTION_NOTIFY_MASUK" />
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            </intent-filter>
        </receiver>

        <receiver
            android:name=".reminder.alarmManager.MyReceiverPulang"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.starbridges.ACTION_NOTIFY_PULANG" />
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            </intent-filter>
        </receiver>

        <receiver
            android:name=".reminder.alarmManager.StartAlarmService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.CorrectionListActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>